<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapzen.lost">

  <uses-feature
      android:name="android.hardware.sensor.accelerometer"
      android:required="false"/>
  <uses-feature android:name="android.hardware.location"/>
  <uses-feature
      android:name="android.hardware.location.gps"
      android:required="false"/>
  <uses-feature
      android:name="android.hardware.telephony"
      android:required="false"/>
  <uses-feature android:name="android.hardware.wifi"/>

  <application>

    <service
        android:name="com.mapzen.android.lost.internal.FusedLocationProviderService"
        android:process=":lost"/>
    <service android:name="com.mapzen.android.lost.internal.GeofencingIntentService">
      <intent-filter>
        <action android:name="com.mapzen.lost.action.ACTION_GEOFENCING_SERVICE"/>
      </intent-filter>
    </service>
    <service android:name="com.mapzen.android.lost.internal.DwellIntentService">

    </service>
  </application>

</manifest>
