<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lost">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:label="@string/app_name"
      android:icon="@drawable/ic_launcher"
      android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

    <activity
        android:name=".MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".FusedLocationApiActivity"/>

    <activity
        android:label="@string/settings"
        android:name=".SettingsActivity"/>

    <activity android:name=".GeofencingApiActivity"/>
    <activity android:name=".SettingsApiActivity"/>
    <activity android:name=".LocationListenerActivity"/>
    <activity android:name=".PendingIntentActivity"/>
    <activity android:name=".LocationAvailabilityActivity"/>
    <activity android:name=".MultipleLocationListenerMultipleClientsActivity"/>
    <activity android:name=".MultipleLocationListenerSingleClientActivity"/>

    <service
        android:name=".GeofenceIntentService"
        android:exported="false">
    </service>
    <service android:name=".PendingIntentService">
      <intent-filter>
        <action android:name="com.mapzen.lost.intent.action.PENDING_INTENT_SERVICE"/>
      </intent-filter>
    </service>


  </application>
</manifest>
